[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyodbc = "*"
cx-oracle = "*"
more-itertools = "*"
pytest = "*"
requests-futures = "*"
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-socketio = "*"
"psycopg2" = "*"
eventlet = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
